In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
cambio = pd.read_excel('../datasets/tc_turistas.xlsx',
                       sheet_name=0)

turista = pd.read_excel('../datasets/tc_turistas.xlsx',
                        sheet_name=2)

# Limpieza de datos

## Cambio

In [3]:
cambio.rename(
    columns={
        'FECHA': 'fecha',
        'DOLAR Oficial': 'dolar_oficial',
        'DOLAR Blue': 'dolar_blue'
    },
    inplace=True
)

Para completar los múltiples datos faltantes de los precios decidimos usar el último valor observado.

Otra forma posible hubise sido usar alguna medida resumen para los valores faltantes, pero en este caso eso haría que fluctúe mucho el incremento del dólar, cuando en realidad tiene una tendencia creciente.

In [4]:
cambio.dolar_oficial.fillna(method='ffill', inplace=True)
cambio.dolar_blue.fillna(method='ffill', inplace=True)

Agrupamos por mes y calculamos el promedio de los valores.

In [5]:
cambio_mensual = cambio.set_index('fecha').resample('M').mean()

In [6]:
cambio_mensual.index = cambio_mensual.index.strftime('%Y-%m')

In [7]:
cambio_mensual

         dolar_oficial  dolar_blue
fecha
2017-06      16.293333   16.498000
2017-07      17.375484   17.169355
2017-08      17.626290   18.218065
2017-09      17.428333   17.948333
2017-10      17.661290   17.963871
2017-11      17.693333   18.047333
2017-12      17.950000   18.305484
2018-01      19.267742   19.652258
2018-02      20.085714   20.157143
2018-03      20.480645   20.743226
2018-04      20.505000   20.704000
2018-05      24.033871   24.476129
2018-06      27.150000   27.500000
2018-07      28.109677   28.785161
2018-08      30.432258   30.690323
2018-09      39.130000   39.235000
2018-10      37.929032   37.929032
2018-11      37.280000   37.280000
2018-12      38.722581   38.722581
2019-01      38.267742   38.267742
2019-02      39.242857   39.242857
2019-03      42.280645   42.280645
2019-04      44.220000   44.220000
2019-05      45.825806   45.825806
2019-06      44.756667   44.756667
2019-07      43.451613   43.451613
2019-08      53.819355   53.972581
2019-09      58.008333   61.183333
2019-10      60.814516   65.701613
2019-11      62.766667   66.900000
2019-12      62.782258   72.620968
2020-01      63.000000   77.500000
2020-02      63.310345   78.205172

## Turista

In [8]:
turista.rename(
    columns={col: col.lower() for col in turista.columns},
    inplace=True
)

Casteamos las columnas de los turistas llegados de cada país a `int`.

In [9]:
turista[turista.columns[3:]] =\
    turista[turista.columns[3:]].astype('int64')

Viendo los máximos de cada campo vemos que hay un valor atípico en uno de ellos.

In [10]:
turista.max()

anio                   2021
mes                     sep
date                  44256
bolivia              187955
brasil               242582
chile       571838802363218
paraguay             138972
uruguay               86374
dtype: object

El valor atípico lo tiene la entrada de año 2018 y mes abril.

In [11]:
turista[turista.chile == 571838802363218]

    anio  mes   date  bolivia  brasil            chile  paraguay  uruguay
63  2018  abr  43191    87508   77916  571838802363218     57205    34821

Decidimos tomar el promedio del año previo y sucesor de 2018 para reemplazar el valor atípico.

In [12]:
turista.loc[turista.chile == 571838802363218, 'chile'] = \
    turista[(turista.anio.isin([2017, 2019])) & (turista.mes == 'abr')]\
        .chile.mean()\
        .astype('int64')

Mapeamos cada uno de los meses a su correspondiente número.

In [13]:
map_meses = { 
    'ene': '01',
    'feb': '02',
    'mar': '03',
    'abr': '04',
    'may': '05',
    'jun': '06',
    'jul': '07',
    'ago': '08',
    'sep': '09',
    'oct': '10',
    'nov': '11',
    'dic': '12'
}

In [14]:
turista.mes = turista.mes.apply(lambda x: map_meses[x])

In [19]:
turista['fecha'] = \
    turista.anio.astype('str') + '-' + turista.mes

In [29]:
pd.merge(cambio_mensual, turista, left_index=True, right_on='fecha', how='left')

,dolar_oficial,dolar_blue,anio,mes,date,bolivia,brasil,chile,paraguay,uruguay,fecha
53,16.293333,16.498000,2017,06,42887,91354,44950,51901,44105,22149,2017-06
54,17.375484,17.169355,2017,07,42917,139655,67292,90150,74440,25872,2017-07
55,17.626290,18.218065,2017,08,42948,101980,53708,67773,60127,26348,2017-08
56,17.428333,17.948333,2017,09,42979,113370,79188,66416,70244,20974,2017-09
57,17.661290,17.963871,2017,10,43009,108988,86278,74250,65150,27705,2017-10
58,17.693333,18.047333,2017,11,43040,100106,73925,67212,58810,41117,2017-11
59,17.950000,18.305484,2017,12,43070,113630,106258,162180,54931,53165,2017-12
60,19.267742,19.652258,2018,01,43101,156813,124143,98232,47638,72066,2018-01
61,20.085714,20.157143,2018,02,43132,96556,170947,80980,49857,56729,2018-02
62,20.480645,20.743226,2018,03,43160,77099,87156,83496,66549,54561,2018-03
63,20.505000,20.704000,2018,04,43191,87508,77916,66390,57205,34821,2018-04
64,24.033871,24.476129,2018,05,43221,84603,68430,59305,49329,24763,2018-05
65,27.150000,27.500000,2018,06,43252,88044,41940,50465,39393,23574,2018-06
66,28.109677,28.785161,2018,07,43282,142230,71551,85889,71614,26469,2018-07
67,30.432258,30.690323,2018,08,43313,113232,55617,63443,55354,27269,2018-08
68,39.130000,39.235000,2018,09,43344,115288,102463,60551,85633,24490,2018-09
69,37.929032,37.929032,2018,10,43374,105570,84097,64166,73001,30747,2018-10
70,37.280000,37.280000,2018,11,43405,113043,102149,59453,67600,44171,2018-11
71,38.722581,38.722581,2018,12,43435,138157,100830,136197,55957,60672,2018-12
72,38.267742,38.267742,2019,01,43466,187955,127185,86373,51718,86374,2019-01
73,39.242857,39.242857,2019,02,43497,94419,178563,73060,49563,67849,2019-02
74,42.280645,42.280645,2019,03,43525,121635,91834,60314,56985,64300,2019-03
75,44.220000,44.220000,2019,04,43556,96598,87520,65602,94127,35323,2019-04
76,45.825806,45.825806,2019,05,43586,102142,73626,50561,48119,26280,2019-05
77,44.756667,44.756667,2019,06,43617,112244,53578,49309,48734,25406,2019-06
78,43.451613,43.451613,2019,07,43647,157892,76543,82714,85528,30911,2019-07
79,53.819355,53.972581,2019,08,43678,124357,61493,63586,57262,26551,2019-08
80,58.008333,61.183333,2019,09,43709,121170,108912,62246,98914,23095,2019-09
81,60.814516,65.701613,2019,10,43739,110797,76538,63888,72198,29528,2019-10
82,62.766667,66.900000,2019,11,43770,109850,101498,59000,70456,44103,2019-11
83,62.782258,72.620968,2019,12,43800,135503,103795,134728,65900,73510,2019-12
84,63.000000,77.500000,2020,01,43831,185654,130090,90585,62637,85464,2020-01
85,63.310345,78.205172,2020,02,43862,109344,208970,75102,68968,75996,2020-02

### *Preguntar que es la columna date de turista, que hacer con el valor atípico de 2018-abr-chile y por que en el intervalo de cuarenta date no es 0*

# Exploración de datos