In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
cambio = pd.read_excel('../datasets/tc_turistas.xlsx',
                       sheet_name=0)

turista = pd.read_excel('../datasets/tc_turistas.xlsx',
                        sheet_name=2)

# Limpieza de datos

## Cambio

In [ ]:
cambio.rename(
    columns={
        'FECHA': 'fecha',
        'DOLAR Oficial': 'dolar_oficial',
        'DOLAR Blue': 'dolar_blue'
    },
    inplace=True
)

Para completar los múltiples datos faltantes de los precios decidimos usar el último valor observado.

Otra forma posible hubise sido usar alguna medida resumen para los valores faltantes, pero en este caso eso haría que fluctúe mucho el incremento del dólar, cuando en realidad tiene una tendencia creciente.

In [ ]:
cambio.dolar_oficial.fillna(method='ffill', inplace=True)
cambio.dolar_blue.fillna(method='ffill', inplace=True)

Agrupamos por mes y calculamos el promedio de los valores.

In [ ]:
cambio_mensual = cambio.set_index('fecha').resample('M').mean()

In [ ]:
cambio_mensual.index = cambio_mensual.index.strftime('%Y-%m')

In [ ]:
cambio_mensual.iloc[:, 0:2] = \
    cambio_mensual.iloc[:, 0:2].round(2)

## Turista

In [ ]:
turista.rename(
    columns={col: col.lower() for col in turista.columns},
    inplace=True
)

Casteamos las columnas de los turistas llegados de cada país a `int`.

In [ ]:
turista[turista.columns[3:]] =\
    turista[turista.columns[3:]].astype('int64')

Viendo los máximos de cada campo vemos que hay un valor atípico en uno de ellos.

In [ ]:
turista.max()

El valor atípico lo tiene la entrada de año 2018 y mes abril.

In [ ]:
turista[turista.chile == 571838802363218]

Decidimos tomar el promedio del año previo y sucesor de 2018 para reemplazar el valor atípico.

In [ ]:
turista.loc[turista.chile == 571838802363218, 'chile'] = \
    turista[(turista.anio.isin([2017, 2019])) & (turista.mes == 'abr')]\
        .chile.mean()\
        .astype('int64')

Pasmaos la columna `date` a formato `datetime`.

In [ ]:
turista.date = \
    pd.to_datetime(turista.date, unit='d', origin='1899-12-30')

In [ ]:
turista['fecha_mensual'] = \
    turista.date.dt.strftime('%Y-%m')

In [ ]:
turista

In [ ]:
turista_cambio = \
    pd.merge(cambio_mensual, turista, 
            left_index=True, right_on='fecha_mensual', 
            how='left')

In [ ]:
turista_cambio = \
    turista_cambio\
        .drop(columns=['anio', 'mes', 'date'])\
        .reindex(columns=['fecha_mensual', 'dolar_oficial',
                        'dolar_blue', 'bolivia', 'brasil',
                        'chile', 'paraguay', 'uruguay'])

In [79]:
turista_cambio.set_index('fecha_mensual')

,dolar_oficial,dolar_blue,bolivia,brasil,chile,paraguay,uruguay
fecha_mensual,,,,,,,
2017-06,16.29,16.50,91354,44950,51901,44105,22149
2017-07,17.38,17.17,139655,67292,90150,74440,25872
2017-08,17.63,18.22,101980,53708,67773,60127,26348
2017-09,17.43,17.95,113370,79188,66416,70244,20974
2017-10,17.66,17.96,108988,86278,74250,65150,27705
2017-11,17.69,18.05,100106,73925,67212,58810,41117
2017-12,17.95,18.31,113630,106258,162180,54931,53165
2018-01,19.27,19.65,156813,124143,98232,47638,72066
2018-02,20.09,20.16,96556,170947,80980,49857,56729
2018-03,20.48,20.74,77099,87156,83496,66549,54561
2018-04,20.50,20.70,87508,77916,66390,57205,34821
2018-05,24.03,24.48,84603,68430,59305,49329,24763
2018-06,27.15,27.50,88044,41940,50465,39393,23574
2018-07,28.11,28.79,142230,71551,85889,71614,26469
2018-08,30.43,30.69,113232,55617,63443,55354,27269
2018-09,39.13,39.24,115288,102463,60551,85633,24490
2018-10,37.93,37.93,105570,84097,64166,73001,30747
2018-11,37.28,37.28,113043,102149,59453,67600,44171
2018-12,38.72,38.72,138157,100830,136197,55957,60672
2019-01,38.27,38.27,187955,127185,86373,51718,86374
2019-02,39.24,39.24,94419,178563,73060,49563,67849
2019-03,42.28,42.28,121635,91834,60314,56985,64300
2019-04,44.22,44.22,96598,87520,65602,94127,35323
2019-05,45.83,45.83,102142,73626,50561,48119,26280
2019-06,44.76,44.76,112244,53578,49309,48734,25406
2019-07,43.45,43.45,157892,76543,82714,85528,30911
2019-08,53.82,53.97,124357,61493,63586,57262,26551
2019-09,58.01,61.18,121170,108912,62246,98914,23095
2019-10,60.81,65.70,110797,76538,63888,72198,29528
2019-11,62.77,66.90,109850,101498,59000,70456,44103
2019-12,62.78,72.62,135503,103795,134728,65900,73510
2020-01,63.00,77.50,185654,130090,90585,62637,85464
2020-02,63.31,78.21,109344,208970,75102,68968,75996

### *Preguntar que es la columna date de turista, que hacer con el valor atípico de 2018-abr-chile y por que en el intervalo de cuarenta date no es 0*

# Exploración de datos