In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pyarrow as pa
import pyarrow.parquet as pq

In [13]:
data = pd.read_csv('../datasets/provicias_datos_2022.csv',
                   delimiter=';',
                   header=3)

In [14]:
data.head()

,PROVINCIa,población (miles),hogares (miles),ingresos laborales (miles pesos),tasa de empleo (%),superficie (km2),exportaciones (mill usd)
0,Ciudad Autónoma de Buenos Aires,3.004,1.263,211.877.384,"4,7","205,9","311,163"
1,Buenos Aires,17.292,5.738,623.250.917,"8,7","305.907,40","33024,657"
2,Catamarca,336.000,102.000,8.460.986,"7,3","101.486,10","201,03"
3,Chaco,3.477,1.251,122.790.341,"6,5","99.763,30","516,336"
4,Chubut,967.000,287.000,24.733.558,"5,3","224.302,30","2575,372"

In [15]:
data.tail()

,PROVINCIa,población (miles),hogares (miles),ingresos laborales (miles pesos),tasa de empleo (%),superficie (km2),exportaciones (mill usd)
19,Santa Cruz,379.000,133.000,19.517.125,"5,1","244.457,50","2242,114"
20,Santa Fe,3.311,1.215,135.661.847,"5,4","133.249,10","19162,52"
21,Santiago del Estero,730.000,213.000,16.504.869,3.0,"136.934,30","1545,387"
22,Tucumán,1.403,403.000,34.757.143,"6,3","910.324,40","953,715"
23,Tierra del Fuego,172.000,60.000,12.059.449,110,"22.592,10","382,966"