In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('../datasets/provicias_datos_2022.csv',
                   delimiter=';',
                   header=3)

In [3]:
data.head()

,PROVINCIa,población (miles),hogares (miles),ingresos laborales (miles pesos),tasa de empleo (%),superficie (km2),exportaciones (mill usd)
0,Ciudad Autónoma de Buenos Aires,3.004,1.263,211.877.384,"4,7","205,9","311,163"
1,Buenos Aires,17.292,5.738,623.250.917,"8,7","305.907,40","33024,657"
2,Catamarca,336.000,102.000,8.460.986,"7,3","101.486,10","201,03"
3,Chaco,3.477,1.251,122.790.341,"6,5","99.763,30","516,336"
4,Chubut,967.000,287.000,24.733.558,"5,3","224.302,30","2575,372"

# Limpieza de datos

In [4]:
data.rename(
    columns={
        'PROVINCIa': 'provincia',
        'población (miles)': 'poblacion',
        'hogares (miles)': 'hogares',
        'ingresos laborales (miles pesos)': 'ingresos_laborales',
        'tasa de empleo (%)': 'tasa_empleo',
        'superficie (km2)': 'superficie',
        'exportaciones (mill usd)': 'exportaciones_usd'
    },
    inplace=True
)

In [5]:
data.poblacion = data.poblacion * 1000

In [6]:
data.hogares = data.hogares * 1000

In [7]:
data.tasa_empleo = \
    data.tasa_empleo\
        .str.replace(',', '.')\
        .astype('float64')

In [8]:
data.superficie = \
    data.superficie\
        .str.replace('.', '', regex=False)\
        .str.replace(',', '.', regex=False)\
        .astype('float64')

In [9]:
data.ingresos_laborales = \
    data.ingresos_laborales\
    .str.replace('.', '', regex=False)\
    .astype('float64')

In [10]:
data.exportaciones_usd = \
    data.exportaciones_usd\
    .str.replace(',', '', regex=False)\
    .astype('float64')

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   provincia           24 non-null     object
 1   poblacion           23 non-null     float64
 2   hogares             24 non-null     float64
 3   ingresos_laborales  23 non-null     float64
 4   tasa_empleo         24 non-null     float64
 5   superficie          24 non-null     float64
 6   exportaciones_usd   24 non-null     float64
dtypes: float64(6), object(1)
memory usage: 1.4+ KB